@import "variable";
@mixin input-form($grey) {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    border-bottom: 1px solid $grey;
    border-radius: 0px;
}

@mixin btn($blue) {
    background-color: $blue;
    padding: 6px 15px;
    border-radius: 5px;
    border: 1px solid $blue;
    color: white;
}

@mixin light-shadow {
    box-shadow: 0px 0px 9px #00000024;
}

@mixin dark-shadow {
    box-shadow: 0px 0px 9px #00000040;
}

@mixin full-page {
    height: 100vh;
    padding: 0!important;
}

@mixin image-boxs {
    box-shadow: 0px 0px 8px #00000024;
}