body {
    font-family: 'Open Sans', sans-serif;
}

.section {
    padding: 0px 100px;
}

.header {
    background-color: white;
    position: fixed;
    padding: 15px 0px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.menu .flex-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.menu {
    float: right;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
}

.logo {
    display: inline;
}

.menu-item a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0px;
}

.menu-item {
    padding: 0px 20px;
}

.menu-item .sign-up {
    background-color: #08f;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
    border: 1px solid #08f;
}

.menu-item .sign-in {
    background-color: white;
    color: #08f;
    border: 2px solid #08f;
    border-radius: 6px;
    padding: 10px 25px;
}

.menu-icon {
    display: none;
}

.mobile-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #08f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-close {
    display: none;
}

.mobile-menu .menu-item {
    display: block;
    margin: 40px auto;
    text-align: center;
}

.mobile-menu .menu-item a {
    color: white;
}

.mobile-menu .menu-item .sign-up {
    border: 1px solid white;
}

.mobile-menu .menu-item .sign-in {
    color: #08f;
}

.mobile-menu .menu-icon {
    display: none;
}

.mobile-menu .flex-menu {
    display: block!important;
    height: auto!important;
}

.mobile-menu .menu-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@media screen and (min-width:1500px) {
    .section {
        padding: 0px 15px;
        max-width: 80%;
        margin: auto;
    }
}

@media screen and (max-width:992px) {
    .section {
        padding: 0px 30px;
    }
    .menu-item {
        display: none;
    }
    .menu-icon {
        display: block;
    }
}

@media screen and (max-width:700px) {
    .section {
        padding: 0px 15px;
    }
}


/* -----------------------------------header- ended------------------------------- */


/* -----------------------------------header- ended------------------------------- */


/* -----------------------------------header- ended------------------------------- */


/* -----------------------------------header- ended------------------------------- */


/* -----------------------------------header- ended------------------------------- */

.tab {
    /* height: calc(100vh - 100px); */
    height: 100vh;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab .tab-img {
    max-width: 350px;
}

.relative {
    position: relative;
}

.tab-video {
    position: absolute;
    top: 10%;
    left: 6%;
    right: 6%;
    bottom: 13%;
    overflow: hidden;
}

.df-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


/* .home-div {
    margin-top: 70px;
} */

.h1 {
    font-size: 50px;
    line-height: 68px;
    font-weight: 700;
}

.p {
    font-size: 18px;
    line-height: 30px;
}

.btn-home {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #08f;
    border-radius: .25rem;
    background-color: white;
    width: auto;
    font-weight: 600;
    color: #08f!important;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 0 0 transparent;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.25);
    -webkit-transition-property: border-color, box-shadow, color, padding, text-shadow;
    transition-property: border-color, box-shadow, color, padding, text-shadow;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    cursor: pointer;
}

.btn-home:focus,
.btn-home:hover {
    border-color: #0088ff;
    color: white!important;
    text-shadow: 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.25), inset 0px -50px 0px 0px #0088ff;
}

.btn-2:hover {
    border-color: white;
}

.text-blue {
    color: #08f;
}

.head-btn {
    margin-top: 25px;
}

.home-head-p {
    margin-top: 30px;
}

.fs-20 {
    font-size: 20px;
}

.h2 {
    font-size: 34px;
}


/* -------------scroll--------------- */

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%
}

.icon-scroll {
    width: 30px;
    height: 50px;
    margin-left: -20px;
    bottom: 10px;
    margin-top: -35px;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .icon-scroll {
        position: relative
    }
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: black;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}

@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}

@media screen and (min-width:1700px) {
    .h1 {
        font-size: 60px;
        line-height: 68px;
        font-weight: 700;
    }
    .tab .tab-img {
        max-width: 420px;
    }
}


/* -------------scroll---------------- */

.ar-app {
    background-color: #EFEFEF;
    padding: 70px 0px;
    margin: 30px 0px;
}

.vert-center {
    display: flex;
    align-items: center;
    height: 100%;
}

#vert-center2 {
    height: 628px;
}

.ar-type {
    padding: 70px 0px;
    /* margin: 20px 0px; */
}

.typ-ar {
    margin-bottom: 30px;
}

.accordian-head {
    padding: 25px 15px;
    color: black;
    cursor: pointer;
    font-size: 33px;
}

.content {
    display: none;
    padding-bottom: 20px;
}

.set {
    border: 1px solid #D8D8D8;
    /* margin-bottom: 2px; */
}

.no-set .content {
    border-top: 0px solid black;
    display: block;
}

.accordian-head span {
    padding-right: 20px;
}

.content p {
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 40px;
}

.accordian-flex {
    display: flex;
    align-items: center;
    justify-self: center;
    height: 100%;
}

.typ-ar {
    margin-bottom: 50px;
}

.ar-type-3 {
    display: none;
    transition-property: all;
    transition-duration: .2s;
}

.mh-450 {
    max-height: 450px;
}

.videoSlate {
    height: 628px;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    transition: all .5s ease-in;
}

.thevideo {
    /* transition: all .3s ease-in; */
    border-radius: 5px;
    width: 85%;
    margin: auto;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 1
}

.fade1-enter-active,
.fade1-leave-active {
    transition: opacity .5s
}

.fade1-enter,
.fade1-leave-to {
    opacity: 1
}

.fade2-enter-active,
.fade2-leave-active {
    transition: opacity .5s
}

.fade2-enter,
.fade2-leave-to {
    opacity: 1
}

.video-box {
    border: 3px solid #E5E5E5;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    min-height: 145px;
    display: flex;
    align-items: center;
}

.videoactive .video-title {
    color: #08f!important;
}

.video-box p {
    font-size: 18px;
}

.video-title {
    font-size: 23px!important;
    font-weight: 600;
    margin-bottom: 5px;
}

.videoactive .color-blue {
    display: block!important;
}

.right-grey {
    position: absolute;
    right: -23px;
    width: 40px;
    top: 37%;
}

.video-box .color-blue {
    display: none;
}

.video-c-head {
    margin: 60px 0px 30px;
}

.video-c-head p {
    margin-top: 20px;
}

.sec-blue {
    background-color: #08f;
    color: white;
    padding: 80px 0px;
    margin-bottom: 30px;
}

.choose-us {
    max-width: 250px;
    margin: auto;
    text-align: center;
    margin-top: 90px;
}

.choose-us div {
    margin-bottom: 50px;
}

.choose-us h4 {
    margin-bottom: 35px;
}

.client {
    max-width: 100%;
}

.cilent-head {
    text-transform: uppercase;
}

.client-div {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
    filter: grayscale(100%);
    opacity: .4;
}

.client-div:hover {
    filter: none;
    opacity: 1;
}

.count-show {
    color: white;
    text-align: center;
}

.count-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}

.blog-content-dummy {
    padding: 30px 30px;
    min-height: 100px;
    overflow: hidden;
}

.sample-blog {
    box-shadow: 0px 0px 6px #0000001f;
    border-radius: 6px;
    margin: auto;
    margin-top: 20px;
    max-width: 400px;
    cursor: pointer;
    transition: all .5s ease;
}

.sample-blog:hover {
    box-shadow: 7px 3px 15px 0px #2f2f2f1f;
    transition: all .5s ease;
}

.sample-blog-sec {
    margin: 90px 0px;
}

.mb-30 {
    margin-bottom: 30px;
}

.text-white {
    color: white;
}

.footer {
    padding: 30px 0;
    overflow: hidden;
}

.foot-menu {
    text-align: center;
    padding: 25px 0 10px 0;
}

.foot-link h3 {
    font-size: 20px;
    font-weight: 600;
    color: #08f;
}

.foot-link a {
    color: grey;
}

.foot-link a,
.foot-link h3 {
    display: block;
    text-align: left;
    margin-top: 15px;
}

.social {
    text-align: left;
}

.social a {
    display: inline-block;
    color: #fff;
    margin-top: 0!important;
    padding: 0;
}

.fb {
    color: gray;
    padding: 10px 14px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 50%;
}

.tw {
    color: gray;
    padding: 10px 11px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 50%;
    margin-left: 7px;
}

.in {
    color: gray;
    padding: 10px 11px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 50%;
    margin-left: 7px;
}

.app {
    text-align: left;
}

.app a {
    display: inline-block;
    width: 130px;
}

.foot-menu p {
    color: grey!important;
}

.mt-55 {
    margin-top: 5rem;
}

.to-header {
    position: fixed;
    width: 50px;
    right: 120px;
    bottom: 45px;
    cursor: pointer;
}

.ar-app .btn-home {
    background-color: transparent;
}

.acco-link {
    color: #0580F4;
    text-decoration: none;
    padding-left: 60px;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}

.acco-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 60px;
    width: 50px;
    height: 3px;
    background-color: #08f;
    transition: all .4s ease-in;
}

.acco-link:hover {
    color: #0580F4;
    text-decoration: none;
    padding-left: 60px;
    font-size: 18px;
    text-transform: uppercase;
}

.acco-link:hover::after {
    width: 100px;
    transition: all .2s ease-in;
}

.blog-img-div {
    height: 250px;
    overflow: hidden;
    display: flex;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.blog-content-dummy h5 {
    font-weight: 600;
    font-size: 23px;
}

.choose-us h4 {
    font-size: 23px;
    font-weight: 600;
}

.blog-img-div img {
    object-fit: cover;
}

.mx-width-480 {
    max-width: 480px;
}

.social-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 6px #0000001f;
    transition: all .5s ease;
    cursor: pointer;
}

.social-card:hover {
    box-shadow: 7px 3px 15px 0px #2f2f2f1f;
    transition: all .5s ease;
}

.card-pic {
    width: 70px;
    display: inline-block;
    text-align: center;
}

.mt-50 {
    margin-top: 90px;
}

.card-pic img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.card-name {
    width: calc(100% - 75px);
    display: inline-block;
    vertical-align: middle;
    padding: 0px 40px 0px 10px;
    position: relative;
}

.card-name p {
    margin: 0;
}

.card-name .name {
    font-size: 14px;
    line-height: 30px;
}

.card-name .brand {
    font-size: 14px;
    line-height: 30px;
    color: #A0A0A0;
}

.social-icon {
    position: absolute;
    right: 5px;
    top: 18px;
    width: 30px;
}

.social-content {
    padding: 15px 10px;
    margin-bottom: 0px;
}

.social-content .main-p {
    font-size: 16px;
    padding-top: 10px;
    color: black;
    text-decoration: none;
}

.social-card:hover .main-p {
    text-decoration: none;
}

.social-content span {
    font-size: 16px;
    color: #0088FF;
}

.img-love {
    width: 25px;
    margin-right: 15px;
}

.social-footer {
    padding: 10px;
}

.company-sec {
    margin: 90px 0px;
}

a:hover {
    text-decoration: none!important;
}

@media (max-width: 992px) {
    .df-center {
        height: auto;
        text-align: center;
        margin-top: 100px;
        padding: 40px 0px;
    }
    .tab {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .icon-scroll {
        width: 30px;
        height: 50px;
        margin-left: -20px;
        bottom: -71px;
        display: none;
    }
}

@media (max-width: 766px) {
    .vert-center {
        text-align: center;
    }
    .accordian-head {
        padding: 25px 15px;
        color: black;
        cursor: pointer;
        font-size: 21px;
    }
    .content p {
        font-size: 16px;
        line-height: 30px;
    }
    .ar-type-3 {
        margin-top: 30px;
    }
    .videoSlate {
        height: 400px;
    }
    .thevideo {
        max-height: 100%;
    }
    .testim .arrow.right {
        right: -15px;
    }
    .testim .arrow.left {
        left: -15px;
    }
    .foot-link a,
    .foot-link h3 {
        display: block;
        text-align: center;
        margin-top: 15px;
    }
    .social {
        text-align: center;
    }
    .app a {
        display: inline-block;
        width: 130px;
        display: inline-block !important;
    }
    .app {
        text-align: center;
    }
    .testim .arrow {
        top: 60%;
    }
    .social a {
        display: inline-block!important;
    }
    .to-header {
        right: 85px;
        bottom: -29px;
    }
    .sm-block {
        flex-basis: 100%;
    }
	
}
	
	/*style added for header (AR FOR INDUSTRIES)*/
	
	.downTag:hover ul {
		opacity: 1;
		top: 100%;
		transition: .3s;
		pointer-events: auto;
		color: #000!important;
		border-radius: 3px;
		margin-left: 0;
		background-color: #fff;
		padding: 10px 15px;
	}

	.downTag ul {
		position: absolute;
		top: 80%;
		margin: 0;
		left: -5px;
		opacity: 0;
		transition: .3s;
		pointer-events: none;
		display: block!important;
	}

	.downTag a .fas {
		float: right;
		padding-left: 10px;
		padding-top: 5px;
	}

	.downTag {
		position: relative;
	}

	.downTag ul li a {
		color: #000;
	}

	.downTag ul li {
		padding: 8px;
		width: 170px;
		cursor: pointer;
		text-align: left;
		font-size: 15px;
		display: block;
		text-align: center;
		vertical-align: middle;
	}
	
	/*style added for header (AR FOR INDUSTRIES)*/


/* -------------------------------slider--------------------- */